html {
/* Address IE6 background flicker */
filter: expression(document.execCommand(, false, true));
}

/* bluered symbols */
.purpleair_square_bluered_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_bluered_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_00.png');
cursor: pointer;
}
.purpleair_square_bluered_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_bluered_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_bluered_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_bluered_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_bluered_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_bluered_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_bluered_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_bluered_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_bluered_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_bluered_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_bluered_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_bluered_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_bluered_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_bluered_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_bluered_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_bluered_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_bluered_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_bluered_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_bluered_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluered/purpleair_square_19.png');
cursor: pointer;
}


/* stdgamma symbols */
.purpleair_square_stdgamma2_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_00.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_19.png');
cursor: pointer;
}


/* stdgamma inverted symbols */
.purpleair_square_stdgamma2_inverted_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_19.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_stdgamma2_inverted_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_stdgamma2/purpleair_square_00.png');
cursor: pointer;
}

/* bluemono symbols */
.purpleair_square_bluemono_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_bluemono_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_00.png');
cursor: pointer;
}
.purpleair_square_bluemono_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_bluemono_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_bluemono_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_bluemono_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_bluemono_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_bluemono_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_bluemono_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_bluemono_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_bluemono_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_bluemono_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_bluemono_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_bluemono_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_bluemono_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_bluemono_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_bluemono_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_bluemono_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_bluemono_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_bluemono_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_bluemono_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_19.png');
cursor: pointer;
}

/* bluemono inverted symbols */
.purpleair_square_bluemono_inverted_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_19.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_bluemono_inverted_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_bluemono/purpleair_square_00.png');
cursor: pointer;
}


/* viridis symbols */
.purpleair_square_viridis_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_viridis_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_00.png');
cursor: pointer;
}
.purpleair_square_viridis_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_viridis_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_viridis_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_viridis_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_viridis_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_viridis_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_viridis_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_viridis_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_viridis_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_viridis_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_viridis_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_viridis_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_viridis_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_viridis_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_viridis_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_viridis_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_viridis_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_viridis_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_viridis_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_19.png');
cursor: pointer;
}

/* viridis inverted symbols */
.purpleair_square_viridis_inverted_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_19.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_viridis_inverted_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_viridis/purpleair_square_00.png');
cursor: pointer;
}

/* colorsafe symbols */
.purpleair_square_colorsafe_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_colorsafe_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_00.png');
cursor: pointer;
}
.purpleair_square_colorsafe_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_colorsafe_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_colorsafe_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_colorsafe_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_colorsafe_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_colorsafe_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_colorsafe_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_colorsafe_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_colorsafe_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_colorsafe_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_colorsafe_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_colorsafe_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_colorsafe_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_colorsafe_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_colorsafe_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_colorsafe_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_colorsafe_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_colorsafe_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_colorsafe_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_19.png');
cursor: pointer;
}

/* colorsafe inverted symbols */
.purpleair_square_colorsafe_inverted_missing {
height: 25px;
width: 20px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_missing.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_00 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_19.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_01 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_18.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_02 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_17.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_03 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_16.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_04 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_15.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_05 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_14.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_06 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_13.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_07 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_12.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_08 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_11.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_09 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_10.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_10 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_09.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_11 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_08.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_12 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_07.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_13 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_06.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_14 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_05.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_15 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_04.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_16 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_03.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_17 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_02.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_18 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_01.png');
cursor: pointer;
}
.purpleair_square_colorsafe_inverted_19 {
height: 15px;
width: 15px;
background-image: url('../images/purpleair_pm25_colorsafe/purpleair_square_00.png');
cursor: pointer;
}
